
/* Begin of reseting browser default  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reseting browser default  */






/*  SINGLE CATEGORY PAGE */
:root{
    --main-backgroundColor:rgb(25, 146, 212);
    --main-backgroundRightColor:rgb(226, 232, 240);
    --main-fontFamily: 'Signika Negative', sans-serif;
    --main-borderColor:rgb(240,180,41);
}
h1, h2{
    font-weight: bold;
    font-size: larger;
}
p{
    font-size: large;
    /* letter-spacing: 2px; */
}
.textTrend h2{
    font-weight: 500;
}

html{
    font-family: var(--main-fontFamily);
    font-weight: 300;
    background-color: var(--main-backgroundColor);
}
.leftSide{
    background-color: var(--main-backgroundColor);
    color: white;
   
}

.iconLinksLeft img{
    height:  30px;
}


.leftSide{
     
    font-size: 1.5rem;
    font-weight: 500;
}
.leftSide h1{
    font-size: 2rem;
    padding-top: 25px;
}
.dashboardCont{
    display: grid;
    grid-template-columns: 1fr 2fr;

}
.dashboard{
    height: 50px;
    padding: 1rem 1rem 0 1rem;
  }
.linkUpContainer, .linkDownContainer{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 15px;
}
.leftSide .iconLinksLeft{
    padding-left: 1rem;
}
.linkDownContainer, .linkUpContainer{
    padding-top: 3rem;
}
.leftLinks:hover{
    background-color: rgb(15, 136, 202);
    padding-left: 5px;
    cursor:pointer;
    border-radius: 5px;
}
/* end of left side  */


/* starting the right side styling */
.rightSide{
    background-color: var(--main-backgroundRightColor);   
   }
   .nav{
       background-color: white;
       padding-left: 25px;
   }

.container{
    display: grid;
    grid-template-columns: 18rem 1fr;
}


input{
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    background-color: var(--main-backgroundRightColor);
    border-radius: 15px;
    padding-left: 13px;
    border: none;
}

.pictureRing img, .looking img{
    width: 40px;
}
.pictureRing img:hover, .looking img:hover, .icons:hover, .trendingAvatar:hover, .iconLinksLeft:hover, .pictureUserGreeting:hover, .pictureUser:hover{
   
    border-radius: 15px;
    scale: 1.2;
}
.upperRight{
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 6fr 1fr 1fr 2fr;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 50px;
}
.greetings{
    font-size: 2rem;
    font-weight: 400;

}

.upperRight{
    padding-top: 12px;
    }
.pictureUser img{
    border-radius: 50%;
    height: 60px;
}
.pictureUserGreeting img{
    border-radius: 50%;
    height: 75px;
}

   .upperButtons button{
   background-color: var(--main-backgroundColor);
   border-radius: 25px;
   width: 150px;
   height: 50px;
   text-align: center;
   color: white; 
   font-size: 1.4rem;
   font-weight: 400;
   border: solid white 1px;
   }

   .upperButtons button:hover{
    background-color: rgb(15, 136, 202);
    padding-left: 5px;
    cursor:pointer;
 translate: 4px ;
}

.upperRight2{
    display: grid;
    grid-template-columns:1fr 1fr;
}.upperButtonsContainer{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    padding-left: 20px;
    align-items: center;
    }

.greetings{
display: grid;
grid-template-columns:repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
align-items: center;
grid-template-areas: 
"user message message message"
"user name name name";
}
.messageGreeting{
    font-size: 1.5rem;
    grid-area: message;
    }
.pictureUserGreeting{
    grid-area: user;
}
.nameGreeting{
    grid-area: name;
}


.nav{
    padding-bottom: 3rem;
    box-shadow: 5px 0px 8px 0px #c9c9c9;
}
/* styling the three  bottom Divs : projects, announcments and trending */

.bottomDivs{
    grid-template-columns:  1fr 1fr 1fr 1.2fr;
    display: grid;
  
    grid-template-areas: 
    "projects projects projects  anoun"
    "projects projects  projects anoun"
    "projects projects projects  anoun"
    "projects projects projects  trend"
    "projects projects projects  trend"
    "projects projects projects  trend"
    "projects projects  projects trend"

 ;
}
/* starting projects */
.projects{
   grid-area: projects;

}

.h1Project{
    
    font-size: 2rem;
    padding: 15px 0 0 23px;
}
.project{
   border-left: solid orange 8px ;
   padding: 20px 23px 20px 23px;
   background-color: white;
}
.rowsProject{
    display: grid;
    grid-template-columns: repeat(2,  minmax(250px, 650px));;
   gap: 32px;
   padding: 33px;
    
}
.iconsContainer{
    display: grid;
    grid-template-columns: repeat(3, 30px);
    justify-content: end;
    padding: 15px 15px 15px 0;
    border-left: solid orange 8px ;
     background-color: white;
    }



.announcements{
    grid-area:anoun;
    padding: 23px;

}
.announcements h1, .trending h1{
    font-size:2rem;
    padding-bottom: 23px;
      
}
.announcements div, .trending div{
    background-color: white;
    border-radius: 14px;
    padding: 23px;

}
.anounDivP1, .anounDivP2{
      border-bottom: #c9c9c9 solid 1px;
      padding-bottom: 10px;
}



.trending{
  grid-area: trend;
  padding: 23px;
}

.textTrend{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.textTrend div img{

    width: 50px;
}
.textTrend p{
    font-weight: 500;
}
.textTrend span{
    font-weight: 300;
}
.textTrend br{
    padding-bottom: 500px;

}

.iconBtn{
    display: none;
}

/* END SINGLE CATEGORY PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {
  
   

}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    .bottomDivs{
        grid-template-columns:  1fr 1fr 1fr 1.2fr;
        display: grid;
        grid-template-areas: 
        "projects projects projects  projects"
        "projects projects  projects projects"
        "projects projects projects  projects"
        "projects projects projects  projects"
        "projects projects projects  projects"
        "projects projects projects  projects"
        "projects projects  projects projects"
        "anoun     anoun     trend      trend"
   
     ;
    }

    .upperButtons button{
        width: 125px;
    }
.nameGreeting{
    font-size: 1.5rem;
}

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   
    .bottomDivs{
        grid-template-columns:  1fr;
        display: grid;
        grid-template-areas: 
        "projects  "
        "anoun "
        "trend "
   
     ;
    }

    .upperButtons .wordIcon{
    display: none;    
      

    }
    .upperRight2{
        grid-template-columns: 4fr 1fr;
    }
    .upperButtonsContainer{
        display: grid;
        grid-template-columns: 1fr;

    }
    .upperButtons button{
        background-color: transparent;
        width: 50px;
    }
    .iconBtn{
            display: contents;
        }
    
.nameGreeting{
    font-size: 1.5rem;
}

.linkUpContainer, .linkDownContainer{
    display: grid;
    grid-template-columns: 1fr;
}
.leftLinks{
    display: none;
   }

.dashboardCont{
    display: grid;
   grid-template-columns: 1fr;
}
.container{
    display: grid;
    grid-template-columns: 10rem 1fr;
}
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
    
    .bottomDivs{
        grid-template-columns:  1fr;
        display: grid;
        grid-template-areas: 
        "projects  "
        "anoun "
        "trend "
   
     ;
    }
    .rowsProject{
            
        grid-template-columns:  1fr;

}
    .upperButtons .wordIcon{
    display: none;    
      

    }
    .upperRight2{
        grid-template-columns: 2fr 1fr;
    }
    .upperButtonsContainer{
        display: grid;
        grid-template-columns: 1fr;

    }
    .upperButtons button{
        background-color: transparent;
        width: 50px;
    }
    .iconBtn{
            display: contents;
        }
    
.nameGreeting{
    font-size: 1.5rem;
}

.linkUpContainer, .linkDownContainer{
    display: grid;
    grid-template-columns: 1fr;
}
.leftLinks{
    display: none;
   }

.dashboardCont{
    display: grid;
   grid-template-columns: 1fr;
}
.container{
    display: grid;
    grid-template-columns: 10rem 1fr;
}

.pictureUser{
    display: none;
}
.nameGreeting{
    font-size: 1.2rem;
}
input{
    width: 85%;
}
.pictureRing img, .looking img{
    width: 30px;
}


}
  
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
   .leftLinks{
    display: none;
   }
    .upperButtonsContainer{
        display: grid;
        grid-template-columns: 1fr;

    }
    .upperButtons button{
        background-color: transparent;
        width: 50px;
    }
    .iconBtn{
            display: contents;
        }
    
.nameGreeting{
    font-size: 1.5rem;
}

  .pictureUserGreeting{
    display: none;
  }
  .dashboardCont h1{
    display: none;
  }
  .container{
    grid-template-columns: 5rem 1fr;
}


.textTrend{
        grid-template-columns: 1fr ;
  }
    .textTrend div img{
    
        display: none;
    }
}

